body {
	background-color: #1a1c1b;
	padding: 0;
	margin: 0;
	font-family: "Segoe UI";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 2em;	
    padding-right: 1em;	
	font-size: x-large;
    overflow: hidden;
    background-color: #d88e1f;
}

li {
    float: left;
}

li.right{
	float: right;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
    border-width: 0;
    border-color: white;
    border-style: solid;
    position: relative;
}

div.nav-non-link{
	display: block;
    color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
    border-width: 0;
    border-color: white;
    border-style: solid;
}

.noPadding {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

li.dropdown {
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d88e1f;

    border-width: 0.1em;
    border-color: white;
    border-style: solid;
    z-index: 1;
}

#login-dropdown{
	right: 0.5em;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
}


li a:hover:not(.active) {
    background-color: #3b3835;
}

.dropdown-content a:hover {background-color: #d88e1f}

.dropdown:hover .dropdown-content {
    display: block;
}

img.fitImage{
	margin: -0.2em;
	max-width: 1.4em;
	max-height: 1.4em;
}

div.browseBar {
	margin: 0 auto;
	background-color: #1a1c1b;
	width: 90%;
	margin-top: 1.75em;
	text-align: center;
	padding: 0.5em;
}

div.mapItem {
	margin: 0 auto;
	margin-top: 0.1em;
	width: 86.7%;
	height: 400px;
}

div.breakItem {
	margin: 0 auto;
	margin-top: 0.1em;
	width: 86.7%;
}

div.headLineItem {
	margin: 0 auto;
	background-color: #1a1c1b;
	font-size: x-large;
	font-family: "Segoe UI";
	text-align: center;
	color: white;
	width: 90%;
	margin-top: 0.5em;
	padding: 0.5em;
}

div.statItem {
	margin: 0 auto;
	background-color: #3b3835;
	font-size: medium;
	font-family: "Segoe UI";
	text-align: center;
	color: white;
	width: 36.7%;
	margin-top: 1.2em;
	padding: 0.5em;
}

div.substatItem {
	margin: 0 auto;
	background-color: #3b3835;
	font-size: medium;
	font-family: "Segoe UI";
	text-align: center;
	color: white;
	width: 36.7%;
	margin-top: 1.2em;
	padding: 0.5em;
}


label.largeLabelSearch{
	font-size: large;
	font-family: "Segoe UI";
	padding-bottom: 0.3em;
	margin-left: 2em;
}

div.navigationBar {
	background-color: #d88e1f;
	color: white;
	padding: 0;
	padding-left: 2em;
	padding-top: 0.2em;
	font-size: x-large;
	font-family: "Segoe UI";
	min-height: 1.8em;
}

div.gameContainer {
	float:left;
	font-size: x-large;
	background-color: #3b3835;
	margin-left: 1em;
	margin-top:1em;
	padding: 0.5em;
}

div.gameContainer:hover {
	background-color: #45413c;
}

img.gameImage {
	float: left;
	width: 9em;
	height: 9em;
}

div.gameTitle{
	margin-left: 0.5em;
	float:left;
	font-size: x-large;
	max-width: 9em;
	min-width: 9em;
	color: #FFFFFF;
}

div.gameDescription{
	margin-left:1em;
	float: left;
	font-size: 50%;
	max-width: 17em;
	color: #FFFFFF;
}

div.gameRating{
	margin-left: 0.5em;
	float: left;
	max-width: 9em;
	min-width: 9em;
	color: #FFFFFF;
}

div.mainContainer{
	margin: 0 auto;
	width: 90%;
}

div.reviewPageTitle {
	background-color: #d88e1f;
	color: white;
	padding: 0;
	padding-left: 2em;
	font-size: x-large;
	font-family: "Segoe UI";
}

div.searchResultBar{
	background-color: #3b3835;
	color: white;
	padding: 0;
	padding-left: 2em;
	font-size: x-large;
	font-family: "Segoe UI";
	width: 80%
}

div.reviewPageContainer {
	margin-top: 2em;
	background-color: #3b3835;
	font-size: medium;
	color: white;
}

div.reviewMain {
	clear: left;
	margin-left: 2.5%;
	margin-top: 2em;
	margin-right: 2.5%;
}

div.reviewPageDescription {
	float: left;
	width: 35%;
	margin-top: 2em;
	padding-right: 2em;
}

div.reviewPageLargeScreenshotContainer {
	float: left;
	width: 60%;
}

img.reviewPageLargeScreenshot {
	max-width: 95%;
	margin-left: 2.5%;
	margin-top: 2em;
}

img.reviewPageSmallScreenshot {
	max-width: 15em;
	max-height: 15em;
	margin-left: 0.4em;
	margin-top: 0.3em;
	float: left;
}

div.clearFloat {
	clear: left;
}

hr {
	background-color: #d88e1f;
	border: solid 0.1em;
	color: #d88e1f;
}

label {
	color: #FFFFFF;
}

textarea {
	background-color: #1a1c1b;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.2em;
	width: 90%;
	max-width: 90%;
	font-size: 120%;
	height: 20em;
}

textarea:focus {
	border-color: #d88e1f;
	border-style: solid;
	border-width: 0.2em;
}

select {
	background-color: #1a1c1b;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
	font-size: 120%;
}

.button{
	background-color: #d88e1f;
	color: #FFFFFF;
	border: none;
	font-size: 120%;
}

.button:focus{
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
	font-size: 120%;
}

.button:hover{
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
	font-size: 120%;
}

a {
	color: white;
	text-decoration: none;
}

a:focus {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a.orange {
	color: #d88e1f;
	text-decoration: none;
}

a.orange:focus {
	text-decoration: underline;
}

a.orange:hover {
	text-decoration: underline;
}

input.searchBox{
	background-color: #1a1c1b;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
}

div.regOutContainer {
	margin:0 auto;
	margin-top: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #3b3835;
	width: 30em;
}
div.regInContainer {
	position:relative;
	text-align: center;
}

div.medText{
	font-size: x-large;
	font-family: "Segoe UI";
}

div.formValidationErrorText{
	color: #ff6666;
	font-size: large;
	font-family: "Segoe UI";
}

div.managementOuterContainer {
	margin:0 auto;
	margin-top: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #3b3835;
	width: 80%;
}
div.managementInnerContainer {
	color: #FFFFFF;
	position:relative;
	text-align: center;
}

div.logOuterContainer {
	margin:0 auto;
	margin-top: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #3b3835;
	width: 30em;
}
div.logInnerContainer {
	color: #FFFFFF;
	position:relative;
	text-align: center;
}

label.largeLabel{
	font-size: large;
	font-family: "Segoe UI";
	padding-bottom: 0.3em;
}

input.regForm {
	background-color: #1a1c1b;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
	font-size: large;
	font-family: "Segoe UI";
	padding-bottom: 0.3em;
	width: 80%;
}

input.searchForm {
	background-color: #1a1c1b;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
	font-size: large;
	font-family: "Segoe UI";
	padding-bottom: 0.3em;
	padding-left: 0.3em;
}

.regButton{
	background-color: #d88e1f;
	color: #FFFFFF;
	border-color: #d88e1f;
	border-style: solid;
	border-width: 0.1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: large;
	font-family: "Segoe UI";
	width: 80%;
}

.regButton:focus{
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
}

.regButton:hover{
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
}

.searchButton{
	background-color: #d88e1f;
	color: #FFFFFF;
	border-color: #d88e1f;
	border-style: solid;
	border-width: 0.1em;	
	font-size: large;
	font-family: "Segoe UI";
	margin-left:2.2em;
}

.searchButton:focus{
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
}

.searchButton:hover{
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0.1em;
}

tr:nth-child(even) {background-color: #1a1c1b;}

th {
    background-color: #d88e1f;
	font-size: x-large;
    color: white;
}

table {
	width: 100%;
}


#holder {
	border: 0.1em dashed #ccc;
	width: 50%;
	min-height: 30em;
	margin: 0.1em auto;
}
#holder.hover {
	border: 0.1em dashed #d88e1f;
}
#holder img {
	display: block;
	margin: 2em auto;
}
#holder p {
	margin: 2em;
	font-size: 100%;
}
.fail { 
	background: #c00;
	padding: 0.1em;
	color: #fff;
}
.hidden {
	display: none !important;
}

a#deleteButton {
	float: right;
	margin-right: 1em;
	background-color: #c92929;
}

a#deleteForReal {
	display: none;
	float: right;
	margin-right: 1em;
	background-color: #c92929;
}
